/*
  HEADER
*/

.header-container {
  padding: 0 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--color-red);
  font-family: 'Arial Black', Arial, sans-serif;
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: #AAA;
  text-decoration: none;
}

a+a {
  margin-left: 12px;
}

a:hover {
  color: #FFF;
}

/*
  MAIN
*/

.main-movie {
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,100%)), url('/img/capa-house.jpg');
  background-size: cover;

  font-size: 16px;
}

.main-movie .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.main-movie .description {
  margin-top: 10px;
  margin-bottom: 40px;
}

.main-movie .button {
  margin-top: 15%;
  padding: 15px 30px;

  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  color: #FFF;
  background-color: rgba(0, 0, 0, 50%);

  border: none;

  cursor: pointer;

  transition: 0.4s ease all;
}

.main-movie .button:hover {
  color: #000;
  background-color: #FFF;

}

.main-movie .button i {
  margin-right: 8px;
}

.main-movie .main-container {
  width: 70%;

  margin-left: 20px;
}

.carousel-movives {
  margin-top:5px;

}

.movie {
  height: 100%;
  width: 100%;

  display: block;
}

@media screen and (max-width: 700px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }

  .main-movie .button {
    margin-top: 5px;
    max-width: 300px;
  }
}

@media screen and (min-width:1000px){
  .description{
      width: 50%;
  }
}
